<a href="https://colab.research.google.com/github/antonyfreitas/Python_Pandas-Antony.Freitas-Uniritter_Fapa/blob/main/manipulando_arquivos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
!pip install pandas
!pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.8/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.8/dist-packages (from openpyxl) (1.1.0)

In [34]:
import pandas as pd

In [36]:
num_habitantes_df = pd.read_csv("ibge_num_habitantes_estimado.csv", sep=";")
combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

display(num_habitantes_df)

         Municipio Estado  NumHabitantes2021
0   BELO HORIZONTE     MG            2530701
1         CAMPINAS     SP            1223237
2     CAMPO GRANDE     MS             916001
3         CURITIBA     PR            1963726
4          GOIANIA     GO            1555626
5       INDAIATUBA     SP             260690
6            NATAL     RN             803739
7           PALMAS     TO             313349
8        PENAPOLIS     SP              64098
9     PORTO ALEGRE     RS            1492530
10     PORTO VELHO     RO             548952
11      RIO BRANCO     AC             419452
12  RIO DE JANEIRO     RJ            6775561
13    SALTO GRANDE     SP               9396
14          SANTOS     SP             433991
15       SAO PAULO     SP           12396372
16     SAO VICENTE     SP             370839
17     SERRA NEGRA     SP              29669

In [37]:
# Calcular postos de gasolina por habitante temos na amostragem de 
# combustiveis nov/2021

num_habitantes_df.rename(columns={"Estado":"Estado - Sigla"}, inplace=True)
display(num_habitantes_df)

         Municipio Estado - Sigla  NumHabitantes2021
0   BELO HORIZONTE             MG            2530701
1         CAMPINAS             SP            1223237
2     CAMPO GRANDE             MS             916001
3         CURITIBA             PR            1963726
4          GOIANIA             GO            1555626
5       INDAIATUBA             SP             260690
6            NATAL             RN             803739
7           PALMAS             TO             313349
8        PENAPOLIS             SP              64098
9     PORTO ALEGRE             RS            1492530
10     PORTO VELHO             RO             548952
11      RIO BRANCO             AC             419452
12  RIO DE JANEIRO             RJ            6775561
13    SALTO GRANDE             SP               9396
14          SANTOS             SP             433991
15       SAO PAULO             SP           12396372
16     SAO VICENTE             SP             370839
17     SERRA NEGRA             SP              29669

In [38]:
colunas = ["Municipio", "Estado - Sigla"]

merge_df = combustiveis_df.merge(num_habitantes_df, how="inner", on=colunas)
display(merge_df)
print(merge_df.info())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA,2021-11-01,6.999,NaN,R$ / litro,RAIZEN,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,ETANOL,2021-11-01,4.990,NaN,R$ / litro,RAIZEN,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA ADITIVADA,2021-11-01,7.130,NaN,R$ / litro,RAIZEN,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,GASOLINA,2021-11-01,6.990,NaN,R$ / litro,BRANCA,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,ETANOL,2021-11-01,4.990,NaN,R$ / litro,BRANCA,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,SE,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,AVENIDA ITORORO,160,NaN,CENTRO,13330-055,GASOLINA,2021-12-28,6.499,NaN,R$ / litro,IPIRANGA,260690
20630,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,DIESEL S10,2021-12-28,5.499,NaN,R$ / litro,RAIZEN,260690
20631,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA ADITIVADA,2021-12-28,6.699,NaN,R$ / litro,RAIZEN,260690
20632,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,ETANOL,2021-12-28,4.899,NaN,R$ / litro,RAIZEN,260690
20633,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA,2021-12-28,6.299,NaN,R$ / litro,RAIZEN,260690

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regiao - Sigla     20634 non-null  object
 1   Estado - Sigla     20634 non-null  object
 2   Municipio          20634 non-null  object
 3   Revenda            20634 non-null  object
 4   CNPJ da Revenda    20634 non-null  object
 5   Nome da Rua        20634 non-null  object
 6   Numero Rua         20634 non-null  object
 7   Complemento        3837 non-null   object
 8   Bairro             20634 non-null  object
 9   Cep                20634 non-null  object
 10  Produto            20634 non-null  object
 11  Data da Coleta     20634 non-null  datetime64[ns]
 12  Valor de Venda     20634 non-null  float64
 13  Valor de Compra    0 non-null      float64
 14  Unidade de Medida  20634 non-null  object
 15  Bandeira           20634 non-null  object
 16  NumHabitantes2021  20634 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(13)
memory usage: 2.8+ MB
None

In [39]:
#Agrupar e contar quantos postos tem na cidade..
postos_por_municipio_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
postos_por_municipio_df.reset_index(inplace=True)
#display(postos_por_municipio_df.info())
postos_por_municipio_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_municipio_df.rename(columns={"Revenda": "NumPostos"}, inplace=True)

postos_por_municipio_df['PostosPorHabitante'] = postos_por_municipio_df['NumPostos'] / postos_por_municipio_df['NumHabitantes2021']
display(postos_por_municipio_df.info())
display(postos_por_municipio_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Estado - Sigla      15 non-null     object
 1   Municipio           15 non-null     object
 2   NumHabitantes2021   15 non-null     int64
 3   Regiao - Sigla      15 non-null     int64
 4   NumPostos           15 non-null     int64
 5   Nome da Rua         15 non-null     int64
 6   Numero Rua          15 non-null     int64
 7   Complemento         15 non-null     int64
 8   Bairro              15 non-null     int64
 9   Cep                 15 non-null     int64
 10  Produto             15 non-null     int64
 11  Data da Coleta      15 non-null     int64
 12  Valor de Venda      15 non-null     int64
 13  Valor de Compra     15 non-null     int64
 14  Unidade de Medida   15 non-null     int64
 15  Bandeira            15 non-null     int64
 16  PostosPorHabitante  15 non-null     float64
dtypes: float64(1), int64(14), object(2)
memory usage: 2.1+ KB

None

,Estado - Sigla,Municipio,NumHabitantes2021,Regiao - Sigla,NumPostos,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,PostosPorHabitante
0,AC,RIO BRANCO,419452,1090,1090,1090,1090,198,1090,1090,1090,1090,1090,0,1090,1090,0.002599
1,GO,GOIANIA,1555626,1667,1667,1667,1667,1369,1667,1667,1667,1667,1667,0,1667,1667,0.001072
2,MG,BELO HORIZONTE,2530701,827,827,827,827,32,827,827,827,827,827,0,827,827,0.000327
3,MS,CAMPO GRANDE,916001,1606,1606,1606,1606,170,1606,1606,1606,1606,1606,0,1606,1606,0.001753
4,PR,CURITIBA,1963726,1291,1291,1291,1291,149,1291,1291,1291,1291,1291,0,1291,1291,0.000657
5,RJ,RIO DE JANEIRO,6775561,2445,2445,2445,2445,375,2445,2445,2445,2445,2445,0,2445,2445,0.000361
6,RN,NATAL,803739,1093,1093,1093,1093,270,1093,1093,1093,1093,1093,0,1093,1093,0.001360
7,RO,PORTO VELHO,548952,805,805,805,805,28,805,805,805,805,805,0,805,805,0.001466
8,RS,PORTO ALEGRE,1492530,1142,1142,1142,1142,126,1142,1142,1142,1142,1142,0,1142,1142,0.000765
9,SP,CAMPINAS,1223237,1605,1605,1605,1605,340,1605,1605,1605,1605,1605,0,1605,1605,0.001312
10,SP,INDAIATUBA,260690,562,562,562,562,51,562,562,562,562,562,0,562,562,0.002156
11,SP,SANTOS,433991,459,459,459,459,59,459,459,459,459,459,0,459,459,0.001058
12,SP,SAO PAULO,12396372,5220,5220,5220,5220,384,5220,5220,5220,5220,5220,0,5220,5220,0.000421
13,SP,SAO VICENTE,370839,453,453,453,453,12,453,453,453,453,453,0,453,453,0.001222
14,TO,PALMAS,313349,369,369,369,369,274,369,369,369,369,369,0,369,369,0.001178

In [ ]:
#Agrupar e contar quantos postos tem na cidade..
postos_por_municipio_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
postos_por_municipio_df.reset_index(inplace=True)
#display(postos_por_municipio_df.info())
postos_por_municipio_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_municipio_df.rename(columns={"Revenda": "NumPostos"}, inplace=True)

postos_por_municipio_df['NumHabitantesPorPosto'] = postos_por_municipio_df['NumHabitantes2021'] / postos_por_municipio_df['NumPostos']
#display(postos_por_municipio_df.info())
display(postos_por_municipio_df)

wb.save(excel)